@inherits TestComponentBase

<SnapshotTest Description="HelloWorld component renders correctly">
  <TestInput>
    <HelloWorld />
  </TestInput>
  <ExpectedOutput>
   <h3>Hello world !</h3>
  </ExpectedOutput>
</SnapshotTest>